:root{
    --background:rgb(22,30,49);
    --orange:rgb(248,177,121);
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 200;
    height: 70px;
    background: rgb(22,30,49);
}

#logo {
    color: aliceblue;
    font-family: 'Bevan';
    position: relative;
    margin-left: 90px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  #logo::after {
    content: '';
    background: var(--orange);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -5px;
    -webkit-transform: translate(90%, -50%);
            transform: translate(90%, -50%);
  }
  
#minu{
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 110px;
    width: 600px; 
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.minu {
    position: relative;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Assistant';
    border: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .minu::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    border-radius: 5px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  #serviceb, #projectb, #testb{
    display: flex;
  }
  #aboutb:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  #serviceb:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  #projectb:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  #testb:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  #contactb:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  
.language{
    position: relative;
    padding: 5px 0px;
    background: var(--orange);
    color: var(--background);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.language:hover{
    color: aliceblue;
}
#arabicl{
    border-radius: 0 0 4px 4px;
}
#language{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    right: 10px;
    margin-left: auto;
    width: 80px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 2px;
    top: 25px;
    height: fit-content;
    
}
#language:hover #otherLanguage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#englishb{
    background: var(--orange);
    padding: 4px;
    border: none;
    border-radius: 3px;
}
#otherLanguage{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: absolute;
    padding-top: 10px;
    width: 80px;
    top: 11px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 120px;
    color: var(--background);
}
@media only screen and (max-width : 700px){
    #language{
        top: 0;
        margin: 0%;
        width: 170px;
        position: absolute;
        display: flex;
        flex-direction: row;
         
        
    }
    #otherLanguage{
        flex-direction: row;
        left: 50px;
        top: -10px;
    }
    .language{
        padding-left: 20px;
        padding-right: 20px;
        height: 10px;
        padding-bottom: 9px;
        text-align: center;
        bottom: 1px;
    }
    #arabicl{
        border-radius: 0 4px 4px 0;
    }
    #kurdishl{
        padding-right: 10px;
        
    }
    #minu{
        margin: 0 auto;
    }
}
@media only screen and (max-width : 604px){
    #minu{
        justify-content: center;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    #aboutb:after{
        width: 90px;
        left: 25px;
    }
    #projectb::after{
        width: 80px;
        left: 23px;
    }
    #testb:after{
        width: 110px;
        left: 26px;
    }
    #contactb::after{
        width: 100px;
        left: 24px;
    }
    .minu{
        padding-left: 30px ;
    }
    #language{
        left: 0px;
    }
    #logo{
        position: relative;
        left: 170px;
        
    }
}
@media only screen and (max-width : 444px){
    header{
        max-width: 430px;
        overflow: hidden;
    }
    #logo{
        left: 100px;
    }
    #minu{
        max-width: 450px;
        margin-left: 0%;
        margin-right: 0;
        left: -30px;
        scale: 0.9;
        width: 500px;
    }
    .minu{
        padding-left: 20px;
    }
    #aboutb:after{
        width: 90px;
        left: 15px;
    }
    #projectb::after{
        width: 80px;
        left: 13px;
    }
    #testb:after{
        width: 110px;
        left: 16px;
    }
    #contactb::after{
        width: 100px;
        left: 14px;
    }
}
@media only screen and (max-width : 404px){
    #minu{
        left: -50px;
        scale: 0.8;
    }
}
/*
@media only screen  and (max-width: 1100px){
    #language{
        right: 200px;
        }
    #minu{
        margin-left: 3%;
    }
}
@media only screen and ( max-width:1017px){
    #minu{
        margin-left: 4%;
        width: 500px;
    }
    .minu{
    border-left: 2px solid rgb(248, 177, 121);
    padding-left: 6px;
    }   
    #language{
        margin: 0;
        right: 200px;
        
    }
}
@media only screen and (max-width: 900px){
    #language{
         right: 300px;
        }
    
}
@media only screen and (max-width : 819.99px){
    #minu{
        margin-left: 80px;
        scale: 0.9;
    }
    #language{
       scale: 0.8;
       margin: 0;
       left: 0;
       top: 0%;
       position: absolute;
    }
}
@media only screen and (max-width : 729px){
    #minu{
        margin-left: 12px;
    }
   
}
@media only screen and (max-width : 700px){
    header{
        height: 120px;
    }
    #language{
        margin-right: 20px;
    }
    #logo{
        margin-top: 0%;
        left: 250px;
    }
    #minu{
        left: -90px;
    }
    
}
@media only screen and (max-width : 680px){
    #language{

       margin: 2px 0px 1200px 0px;
    }
}

@media only screen and (max-width : 576px){
    #minu{
        margin: 0%;
        margin-top: 60px;
        
        left: -14%;
        
    }
    #logo{
        left: 80px;
        margin-top: 5px;
    }
   
}
@media only screen and (max-width : 520px){
    #minu{
        left: 0;
        margin-top: 35px;
        margin-left: 0;
        left: -170px;
        margin-right: 0%;
        position: relative;
    }
    header{
        height: 90px;
    }
}

@media only screen and (max-width : 435px){
    #minu{
        
        width: 400px;
    }
    header{
        height: 120px;
    }
    
}
@media only screen and (max-width : 424px){
    #minu{
        margin-left: 0%;
        margin-right:0 ;
        right: 0;
        left: -200px;
        margin-top: 80px;
        width: 450px;
        line-height: 30px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        top: -20px;
    }
    .minu{
        margin-left: 10px;
        margin-top: 10px;
    }
    
}
@media only screen and (max-width : 404px){
    #minu{
        left: -207px;
    }
}
*/