:root{
    --background:rgb(22, 30, 49);
}
body{
    background: var(--background);
    margin: 0%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background-image: url(/image/backgroun.png);
    background-position: 650px 60px;
    background-size:50%;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
header{

    height: 60px;

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#main_logo{
    font-family: 'Bevan';
    position: relative;
    margin-left: 70px;
    font-size: 18px;
    width: 200px;
    color: aliceblue;
    width: fit-content;
    display: inline-block;
    user-select: none;
}
#main_logo::after {
    content: "";
    background: rgb(248, 177, 121);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 78px;
    margin-top: 8px;
    display: block;
    border-radius: 50px;
    
}
#nav{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 350px;
    margin-left: auto;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 160px;
    font-family: 'Assistant';
    justify-content: space-around;
    color: aliceblue;    
}
.nav{
    color: rgb(123, 129, 182);
    position: relative;
    margin-top: auto;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px 2px;
    padding: 0 9px;
    text-align: center;
}
.nav:hover{
color: aliceblue;

}
.nav:hover::after{
    content: "";
    background: rgb(248, 177, 121);
    width: 70px;
    left: -1px;
    height: 5px;
    position: absolute;
    display: block;
    border-radius: 20px;
}
#about{
    color: white;
}
#about::after{
    background: rgb(248, 177, 121);
    width: 70px;
    color: white;
    height: 5px;
    position: absolute;
    display: block;
    border-radius: 20px;
    content: "";

}
#about::after{
    background: rgb(248, 177, 121);
    width: 70px;
    left: -1px;
    height: 5px;
    position: relative;
    display: block;
    border-radius: 20px;
}
#project::after{
   left: 2px;
}
#contact::after{
    left: 3px;
}
main{
    margin-top: 100px;
    height: fit-content;
    justify-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    flex-wrap: wrap;

}
#text{
    height: fit-content;
    color: white ;
    scale: 1.2;
    margin-left: 200px;
    max-width: 350px;
    position: relative;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
#text1{
    color: white;
    font-size: 40px;
    font-family: 'Buenard';
    flex-wrap: wrap;

}
#text2{
    color: white;
    font-size: 40px;
    font-family: 'Buenard';
    position: relative;

    top: -50px;
}
#text3{
    position: relative;
    top: -70px;
    margin-left:30px ;
    
}
#rekan{
    font-family: 'Alex Brush';
    color: rgb(248, 177, 121);

}
#resume_link{
    margin: 0 auto;
    color: rgb(22, 30, 49);
    text-align: center;
    width: 130px;
    bottom: 90px;
    position: relative;
    padding: 5px 5px;
    background: rgb(248, 177, 121);
    border-radius: 4px;
    top: -50px;
    left: 130px;
    transition: 0.2s;
}
#resume_link:hover{
    font-size: small;
}
#resume_link::after{
    content: "it will available soon";
    position: absolute;
    color: white;
    font-size: 8px;
    bottom: -49px;
    left: 110px;
    display: none;
}
@media only screen and (max-width : 450px){
    #nav{
        
        margin-left: auto;
        margin-right: auto;
    }
     header{

        justify-content: center;
     }
    #main_logo{
        margin-left: auto;
        margin-right: auto;

        position: relative;
    }
    main{
        border: 1px solid transparent;
    }
    #text{
        margin-left: 12%;
        width: 300px;
    }
}
