:root{
    --background: rgb(5, 32, 71);
}
body{
    margin: 0%;
    position: relative;
    max-width: 1280px;
    height: fit-content;
    background: var(--background);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav{
    position: relative;
}

#logotext{
    color: aqua;
    margin-left: 20px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(11, 70, 95);
    width: fit-content;
    padding: 2px 30px;
    border-radius: 20px;
    text-align: center;
}
#logotext::after{
    content: "IT";
    position: absolute;
    top:95px;
    left: 150px;
    font-size: 25px;
    background: rgb(11, 70, 95);
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px; 
}
main{
    
    height: fit-content;
    max-width:1280px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
}