:root{
    --background:rgb(22, 30, 49);
}
body{
    background: var(--background);
    margin: 0%;
    max-width: 1280px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background-image: url(/image/backgroun.png);
    background-position: 650px 60px;
    background-size:50%;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
header{

    height: 60px;
    background: transparent, blur(40px);
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#main_logo{
    font-family: 'Bevan';
    position: relative;
    margin-left: 70px;
    font-size: 18px;
    width: 200px;
    color: aliceblue;
    width: fit-content;
    display: inline-block;
    user-select: none;
}
#main_logo::after {
    content: "";
    background: rgb(248, 177, 121);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 78px;
    margin-top: 8px;
    display: block;
    border-radius: 50px;
    
}
#nav{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 550px;
    margin-left: auto;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 150px;
    font-family: 'Assistant';
    justify-content: space-around;
    color: aliceblue;   

}
.nav{
    color: rgb(123, 129, 182);
    position: relative;
    margin-top: auto;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px 2px;
    padding: 0 9px;
    text-align: center;
}
.nav:hover{
color: aliceblue;

}
.nav:hover::after{
    content: "";
    background: rgb(248, 177, 121);
    width: 70px;
    left: -1px;
    height: 5px;
    position: absolute;
    display: block;
    border-radius: 20px;
}
#about{
    color: white;
}
#about::after{
    background: rgb(248, 177, 121);
    width: 92px;
    left: -1px;
    color: white;
    height: 5px;
    position: absolute;
    display: block;
    border-radius: 20px;
    content: "";

}
#test::after{
    width: 115px;
}
#project::after{
   left: 2px;
   width: 75px;
}

#services::after{
    left:2px;
    width: 75px;
}
#contact::after{
    left: 3px;
    width:100px;
}
#language_div{
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-evenly;
}

#language_button{
    background: rgb(248, 177, 121);
    color: var(--background);
    border-radius: 7px;
    padding: 5px;
}
#languages{
    position: absolute;
    display: none;
    flex-direction: column;
    background: rgb(248, 177, 121);
    right: 1.6%;
    width: 195px;
    top: 25px;
    border-radius: 0px 0px 7px 7px;
}
#language_div:hover #languages{
    display: block;
}
.lnguage{
    display: flex;

    justify-content: center;
    padding-top: 20px;
    color: var(--background);
}
#arabic_language{
    padding-bottom: 20px;
}
main{
    margin-top: 100px;
    height: fit-content;
    justify-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    flex-wrap: wrap;

}
#text{
    height: fit-content;
    color: white ;
    scale: 1.2;
    max-width: 850px;
    position: relative;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid red;
    height: 380px;
    
}
.text{
    border: 1px solid red;
    margin-left: 200px;
}
#text1{
    color: white;
    font-size: 40px;
    font-family: 'Buenard';
    flex-wrap: wrap;

}
#text2{
    color: white;
    font-size: 40px;
    font-family: 'Buenard';
    position: relative;
    top: -90px;
}
#text3{
    position: relative;
    top:-150px;
    margin-left:200px ;
    
}
#rekan{
    font-family: 'Alex Brush';
    color: rgb(248, 177, 121);

}
#resume_link{
    margin: 0 auto;
    color: rgb(22, 30, 49);
    text-align: center;
    width: 130px;
    position: relative;
    padding: 5px 5px;
    background: rgb(248, 177, 121);
    border-radius: 4px;
    top: -150px;
    left: 10px;
    transition: 0.2s;
}
#resume_link:hover{
    font-size: small;
}
#resume_link::after{
    content: "it will available soon";
    position: absolute;
    color: white;
    font-size: 8px;
    bottom: -49px;
    left: 110px;
    display: none;
}
@media only screen and (max-width : 450px){
    #nav{
        
        margin-left: auto;
        margin-right: auto;
    }
     header{

        justify-content: center;
     }
    #main_logo{
        margin-left: auto;
        margin-right: auto;

        position: relative;
    }
    main{
        border: 1px solid transparent;
    }
    #text{
        margin-left: 12%;
        width: 300px;
    }
    #resume_link{
       left: 30px;
    }
    #main_logo::after{
        margin-left: 8px;
        left: 80px;
    }
}
#contact_me{
    background: white;
    width: 1263px;
    height: 800px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
#contact_form{
    background: rgb(22,30,49);
    width: 400px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    margin-left: auto;
    color: white;
    margin-top: 120px;
}
#contact_header{
    background: red;
    text-align: center;
}
#contact_info{
    background: pink;
    text-align: center;
    top: -30px;
    position: relative;
}
.input{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 1px dotted red;
    border-right:0px solid red  ;
    outline: none;
    background: transparent;
}
input:focus::placeholder {
    opacity: 0;
  }