#project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    height: 1000px;
    justify-content: center;

}
#project_top{
    color: white;
    background: rgb(22,30,49);
    font-family: 'Abril Fatface';
    font-size: 20px;
    width: fit-content;
    margin:23% auto 0 auto;
    padding: 15px 40px;
    border-radius: 10px;
    
}
#projects_minu{
    position: relative;
    max-width: 600px;
    height: 40px;
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project_minu{
    font-family: 'Averia Sans Libre';
    margin: 0 25px;
}
#gray{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    left: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 700px;
    height: 500px;
}
.divp{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;
    background: rgb(203, 199, 199);
}
@media only screen and (max-width : 444px){
    #project{
        max-width: 300px;
        border: 1px solid red;
    }
}
@media only screen and (max-width : 460px){
    #gray{
        scale: 0.95;
        width: 500px;
        left: 0;
        overflow: hidden;
    }
    .divp{
        margin-right: 10px;
    }
    #projects_minu{
        width: 400px;
        height: fit-content;
        margin-left: 0%;
        display: grid;
    }
    .project_minu{
        margin: 0 0px;
    }
    #project_top{
        margin-left: 15%;
    }
}
@media only screen and (max-width :400px){
    #gray{
        scale: 0.8;
        left: -30px;
        margin-left: 0%;
        margin-right: 0%;
    }
}
/*
@media only screen and ( max-width:1017px){
    #gray{
        left: -200px;
    }
    #projects_minu{
        position: relative;
        left: -90px;
    }
    
}
@media only screen and (max-width : 819.99px){
    #gray{
        
        left: -300px;
    }
    #project_top{
        margin-left: 280px;
    }
    #projects_minu{
        position: relative;
        left: -190px;
    }
    
}
@media only screen and (max-width : 729px){
    #gray{
        scale: 0.7;
        left: -320px;
    }
    #project_top{
        margin-left: 140px;
    }
   
}
@media only screen and (max-width : 700px){
    #projects_minu{
        left: -240px;
    }
   
    
}
@media only screen and (max-width : 680px){
    
}

@media only screen and (max-width : 576px){
    #gray{
        scale: 0.6;
        left: -360px;
    }
    #projects_minu{
        left: -270px;
        top: 60px;
    }
}
@media only screen and (max-width : 550px){
    #gray{
        left: -400px;
    }
    #projects_minu{
        scale: 0.9;
        left: -300px;
    }
    
}

@media only screen and (max-width : 503px){
    #gray{
         scale: 0.51;
         left: -420px;
    }
    #projects_minu{
        scale: 0.8;
        left: -320px;
    }
    
}
@media only screen and (max-width : 484px){
    
    #gray{
        scale: 0.51;
        left: -420px;
   }
   #projects_minu{
       scale: 0.8;
       left: -350px;
       width: 500px;
   }
   #project_top{
    margin-left: 40px;
   }
    
}
*/