#testio{
    height: 1850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#test_top{
    width: fit-content;
    margin: 50px auto;
    font-size: 40px;
}
#client_div{
    height: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px;
    position: relative;
    justify-content: space-around;
}
.test_div{
    background:rgb(22,30,49);
    width: 300px;
    height:350px ;
    border-radius: 10px;
    margin-top: 10px;
}
.test_div::after{
    background-image: url(/images/profile.png);
    content: " ";
    height: 120px;
    width: 290px;
    background-repeat: no-repeat;
    display: block;
    background-position: 20px 0px;
    background-size: cover;
    position: relative;
    top: -190px;
    left: 150px;

}
.qoute{
    color: white;
margin-left: 30px;
margin-top: 50px;
font-size: 30px;
}
.qoute::after{
    content: " \" ";
    position: relative;
    bottom: -230px;
    left: 200px;

}
@media only screen and (max-width : 444px){
    #testio{
        max-width: 430px;
        overflow: hidden;
    }
}
@media only screen and (max-width : 924px){
    .test_div{
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .test_div::after{
        top: -140px;
        left: 180px;
        scale: 0.7;
    }
    #test_top{
        font-size: 23px;
    }
}
@media only screen and (max-width : 424px){
   #client_div{ 
    max-width: 400px;
      margin-left: 0%;
      margin-right: 0%;
      justify-content: center;
   }
   #test_top{
    font-size: 30px;
    right: 30px;
    width: 350px;
    text-align: center;
    font-weight: 100px;
    border: 1px solid red;
    position: relative;
}
   .test_div{
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
   }
}
