.topic{
    color: aliceblue;
    margin: 5% 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid orange;
    position: relative;
    left: 15%;
    -webkit-transition:  0.2s;
    transition:  0.2s;
    padding: 2px 9px;
    font-size: 20px;
}
.div:hover .topic{
    
    border-radius: 20px;
    -webkit-box-shadow: orange 0px 0px 10px 3px ;
            box-shadow: orange 0px 0px 10px 3px ;
}
ul{
    list-style: none;
    color: white;
}
li{
    margin-top: 15px;
}
#ola{
    position: absolute;
    top: 159px;
    left: 90px;
}
.oll{
    margin-top: 0px;
}

.social_link{
    position: relative;
    margin-left: 20px;
    margin-top: 3px;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 50px;
}
.social_link::before{
  background-size: cover;
  overflow: hidden; 
  top: -3px;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  content: "... ";
  font-size: 1px;
  padding: 11px;
  border-radius: 50px;
  background-position: 29% 100%;
  position: relative;
}
#facebook::before{
    background-image: url(/image/facebook.png);
}
#facebook:hover{
    color: rgb(244, 244, 247);
    background: blue;
}
#facebook{
    background: rgba(57, 57, 232, 0.37);
    border: 2px solid blue;
    border-radius: 15px;
}
#instagram{
    background: linear-gradient(45deg, rgba(120, 11, 76, 0.615) 60%, rgba(105, 15, 165, 0.573));
    border-radius: 15px;
    border: 1px solid purple;
}
#instagram::before {
    background-image: url(/image/insta.png);
    background-position: 1% 100%;

}
#instagram:hover{
    color: rgb(237, 232, 236);
    background: linear-gradient(45deg, rgb(120, 11, 76) 60%, rgb(105, 15, 165));
}
#telegram{
    border-radius: 15px;
    border: 1px solid blue;
    background: rgba(80, 80, 220, 0.682);
}
#telegram:hover{
    color: rgb(245, 245, 247);
    background-color: rgb(11, 11, 92);
}
#telegram::before{
    background-image: url(/image/telegram.png);
    background-position: 2% 100%;
}
#twetter{
    border: 1px solid blue;
    border-radius: 15px;
    background: rgba(10, 10, 114, 0.336);
}
#twetter:hover{
    color: rgb(242, 242, 245);
    background: blue;
}
#twetter::before{
    background-image: url(/image/twitter.png);
    background-position: 0% 100%;
}
#snap:hover{
    color: white;
    background: rgba(244, 244, 42, 0.818);
}
#snap::before{
    background-image: url(/image/snapchat.png);
    background-position: 0% 100%;
}
#snap{
    border: 1px solid yellowgreen;
    background: rgba(255, 255, 0, 0.266);
    border-radius: 15px;

}
#snap::after{
    content: " sorry! due to the weaknees in Snapshat I haven't put its link ";
    position: absolute;
    font-size: 10px;
    left: 40px;
    bottom: -27px;
    width: 200px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
}
#snap:hover::after{
    color: white;
}
.info{
    color: white;
    margin-left: 20px;
}
#button{
    color: aliceblue;
    border: 1px solid black;
    background: rgb(14, 5, 84);
    padding: 2px 20px;
    border-radius: 12px;
}
#button:hover{
    background: white;
    color: rgb(14, 5, 84);
}