:root{
    --background:red;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    background: rgb(69, 52, 85);
}
#loginform{
    position: relative;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
    background: rgb(121, 94, 146) ;
    box-shadow: 0px 0px 30px 10px rgb(142, 28, 130);
}
#loginp{
    border-bottom: 1px solid pink;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    margin: 12px auto 0 auto;
}
#usernamelabel{
    position: relative;
    border: 1px solid green;
    width: fit-content;
    margin: 20px auto 0 auto;
    color: aliceblue;
}
#usernameinpt{
    position: relative;
    width: 150px;
    margin: 5px auto 0 auto;
    border-radius: 6px;
}
#usernameinpt:focus{
    outline: none;
}
#passwordlabel{
    position: relative;
    width: fit-content;
    color: aliceblue;
    margin: 20px auto 0 auto;
}
#passwordinpt{
    width: 150px;
    margin: 5px auto 0 auto;
    border-radius: 6px;
}
#passwordinpt:focus{
    outline: none;
}
#loginbtn{
    position: relative;
    color: aliceblue;
    background: rgb(206, 14, 187);
    border:none;
    width: 150px;
    margin:6px auto 0 auto ;
    transition: 0.2s;
}
#loginbtn:hover{
    color: white;
    background: red;
}
#border{
    width: 200px;
    background: red;
    height: 1px;
    margin: 20px auto 0 auto;
    position: relative;
}
#or{
    text-align: center;
    margin: 0% auto 0px auto;
    width: 20px;
    background-color:rgb(121, 94, 146)  ;
    position: relative;
    top: -9px;
}
#signinbtn{
    width: 150px;
    margin: 0 auto 0 auto;
    color: white;
    background: rgb(206, 14, 187);
    border: none;
    transition: 0.1s;
}
#signinbtn:hover{
    background: red;
}
#forget{
    font-size: 14px;
    position: relative;
    margin: 40px auto 0 auto;
    
}
#random{
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgb(129, 129, 221);
    width: 300px;
    height: 300px;
    margin: 0% auto 0 auto;
    border: 1px solid green;
    justify-content: center;
}
input{
    width: 200px;
    height: 20px;
    margin: 0 auto 0 auto;
}
label{
    width: fit-content;
    margin: 0 auto 0 auto;
}